.skills {
    background-color: #F25A70;
    border-bottom: 6px solid #2c1a4a;
}
.box-skills {
    display: grid;
    width: 960px;
    height: 480px;
    align-items:center;
    grid-template-columns: repeat(2 , 1fr);
    margin: 0 auto;
}
.item {
    display: flex;
   margin:auto;
   width: 300px;
   height: 90px;
}
.item span{
margin: 20px;
font-family: 'Press Start 2P', sans-serif;
font-weight: 400;
color: #fff;
}
.item img {
    height: 80px;
    width: 90px;
}