#sobre {
    background-color: #7C5E99;
    border-bottom: 6px solid #000000; ;
}
.sobre-descricao {
    font-family: 'Fira Code',sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 39.36px;
    width:1180px ;
    padding-bottom:50px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}