/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
} /* Final do estilo para tablets */

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
  /* H E A D E R */

  nav {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bruno-avatar {
    width: 20rem;
    height: 20rem;
  }
  /* BOX MID */

  #box {
    margin: 6rem;
  }

  #buttons-before {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* SKILLS */

/* P R O J E T O S */

/* Final do estilo para smartphone */
